<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h3>ABOUT IMUKA ACCESS</h3>
      <p>
        Imuka Access is a technology driven social enterprise that facilitates
        direct access to financing and business development support to
        entrepreneurs in Uganda. We believe in the power of entrepreneurship as
        a driver of economic growth, employment and poverty reduction. The
        platform conveniently connects entrepreneurs to business growth
        opportunities, technical and financial support. As Imuka Access we aim
        to build the resilience of early stage businesses hence propelling them
        towards sustainable growth. We envision a thriving and purposeful local
        enterprise ecosystem, able to foster employment, equity and wealth in
        Uganda.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>CONTACT US</h3>

      MTN Momo Merchant Code(put momo pic): 144770-You can Now pay through MTN
      and avoid transaction costs E-mail: access@imuka.co |
      imukaaccess@gmail.com Call: +256 (0) 788 320 403 (Office) Address: Imuka
      Access, Makerere FTBIC New Building 1st Floor, Western Gate, Kampala, UG
    </div>
  </div>
</div>
