body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("/assets/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 50%;
}
header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 5rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.card {
  /* box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);*/
  border: 0px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-deck {
  margin: auto;
  background: white;
}
.card-header {
  border: 0px;

  background-image: url(/assets/soya.jpg);
  background-size: cover;
  height: 175px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px;
  border-radius: 0px;
}

.card-img-top {
  height: 150px;
}

.card-body {
  border: 0px;
}
.card-footer {
  background: white;
  color: DodgerBlue;
  border: 0px;
}
.main_container {
  width: 80%;
  margin: auto;
  padding: auto;
}
.label {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.deals-head {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #666;
}
span {
  font-style: italic;
  font-size: 20px;
  color: #000;
  font-family: "Times New Roman", Times, serif;
}
