.login-form {
  //width: 485px;
  margin: 30px auto;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.login-form form {
  // margin-bottom: 15px;
  // // background: #f7f7f7;
  // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  // padding: 0px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.login-btn {
  border-radius: 2px;
}
.input-group-addon .fa {
  font-size: 18px;
}
.login-btn {
  font-size: 15px;
  font-weight: bold;
}
.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

.fa:hover {
  opacity: 0.7;
}

.login-details {
  max-width: 500px;
  margin: 0 auto;

  padding: 35px;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
