.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.label {
  font-size: 20px;
  font-weight: bold;
}
.label2 {
  font-size: 19px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
label {
  font-size: 17px;
}
.card-header {
  font-size: 20px;
  font-weight: bold;
  padding: auto;
  color: white;
}
