<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4" style="background-color: white; padding: 10px;">
        <div class="card border-0">
          <img
            class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
            alt="Card image cap"
          />
          <div class="card-body" style="border: 0px;">
            <p class="card-text">
              Nature’s Haven is a brand of LHEXCOPT Investments Limited dealing
              in Agricultural Value Addition. It aims to be the Preferred Choice
              for High quality organic Natural Product. The current products
              include:
            </p>
          </div>
          <div class="row no-gutters mt-auto mb-2 justify-content-center">
            <div class="col-6 text-center">
              <a routerLink="dashboard/add-deal"
                ><i class="fa fa-trash"></i>Delete</a
              >
            </div>
            <div class="col-6 text-center">
              <a routerLink="dashboard/add-deal"
                ><i class="fa fa-edit"></i>Edit</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8" style="background-color: white; padding: 10px;">
        <div>
          <div class="card-header d-flex align-items-center">
            <div class="card-close" style="top: 18px; ">
              <a routerLink="dashboard/edit-deal" class="btn btn-primary"
                ><h6>Edit Deal</h6></a
              >
            </div>
            <h3 class="h4">Deal details</h3>
          </div>
          <div class="card-body">
            <p>
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
              arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
              justo. Nullam dictum felis eu pede mollis pretium. Integer
              tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim.
            </p>
            <p>
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
              arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
              justo. Nullam dictum felis eu pede mollis pretium. Integer
              tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim.
            </p>
            <p>
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
              arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
              justo. Nullam dictum felis eu pede mollis pretium. Integer
              tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim.
            </p>
            <p>
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
              arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
              justo. Nullam dictum felis eu pede mollis pretium. Integer
              tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim.
            </p>
            <p>
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
              arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
              justo. Nullam dictum felis eu pede mollis pretium. Integer
              tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim.
            </p>
            <p>
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
              arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
              justo. Nullam dictum felis eu pede mollis pretium. Integer
              tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim.
            </p>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row bg-white has-shadow"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard Counts Section-->
<!-- <section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow">
     
    </div>
  </div>
</section>  -->
