
         
         
         <section class="forms"> 
              <div class="container-fluid">
                <div class="row">

  <!-- Form Elements -->
  <div class="col-lg-12">


    <div class="card">
        
      <div class="card-close" style="top: 8px; ">
        
        <a routerLink = "dashboard/add-deal" class="btn btn-primary" >Add New Deal</a>
      </div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">All Details</h3>
        
       
      </div>
 
      <div class="card-body">

        <div class="card-deck">
        <!-- card -->
        <div class="card ">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Nature’s Haven is a brand of LHEXCOPT Investments Limited dealing 
              in Agricultural Value Addition. It aims to be the Preferred Choice for High quality 
              organic Natural Product. The current products include:
          </p>
        </div>
        <div class="row no-gutters mt-auto mb-2 justify-content-center">
            <div class="col-6 text-center">
                <a routerLink = "dashboard/add-deal"><i class="fa fa-info-circle"></i>Details </a>
            </div>
            <div class="col-6 text-center">
                <a routerLink = "dashboard/add-deal"><i class="fa fa-edit"></i>Edit</a>
            </div>
        </div>
      </div>
<!-- card -->
          <div class="card ">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Nature’s Haven is a brand of LHEXCOPT Investments Limited dealing 
                  in Agricultural Value Addition. It aims to be the Preferred Choice for High quality 
                  organic Natural Product. The current products include:
              </p>
            </div>
            <div class="row no-gutters mt-auto mb-2 justify-content-center">
                <div class="col-6 text-center">
                    <i class="fa fa-info-circle"></i>Details    
                </div>
                <div class="col-6 text-center">
                    <i class="fa fa-edit"></i>Edit   
                </div>
            </div>
          </div>

          <!-- card -->
          <div class="card ">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Nature’s Haven is a brand of LHEXCOPT Investments Limited dealing 
                in Agricultural Value Addition. It aims to be the Preferred Choice for High quality 
                organic Natural Product. The current products include:
            </p>
          </div>
          <div class="row no-gutters mt-auto mb-2 justify-content-center">
              <div class="col-6 text-center">
                  <i class="fa fa-info-circle"></i>Details    
              </div>
              <div class="col-6 text-center">
                  <i class="fa fa-edit"></i>Edit   
              </div>
          </div>
        </div>
          
        <!-- card -->
        <div class="card ">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Nature’s Haven is a brand of LHEXCOPT Investments Limited dealing 
              in Agricultural Value Addition. It aims to be the Preferred Choice for High quality 
              organic Natural Product. The current products include:
          </p>
        </div>
        <div class="row no-gutters mt-auto mb-2 justify-content-center">
            <div class="col-6 text-center">
                <i class="fa fa-info-circle"></i>Details    
            </div>
            <div class="col-6 text-center">
                <i class="fa fa-edit"></i>Edit   
            </div>
        </div>
      </div>
             
        </div>
      </div>

      <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a class="active" href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>

    </div>
    </div>

 
</div>
</div>
</section>


    


