<div id="content-wrapper">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">All Deals Added</a>
      </li>
    </ol>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-table fa-lg"></i> (12) Deals Added
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Business Name</th>
                    <th scope="col">Legal Identity</th>
                    <th scope="col">Region</th>
                    <th scope="col">Details</th>
                    <th scope="col">Verify</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Private</td>
                    <td>Central</td>
                    <td>
                      <a href="../adddeal/adddeal.component.html"> View</a>
                    </td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Private</td>
                    <td>Western</td>
                    <td><a href="#"> View</a></td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Partnership</td>
                    <td>Northern</td>
                    <td><a href="#"> View</a></td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Government</td>
                    <td>Central</td>
                    <td>
                      <a href="../adddeal/adddeal.component.html"> View</a>
                    </td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>NGO</td>
                    <td>Western</td>
                    <td><a href="#"> View</a></td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Private</td>
                    <td>Northern</td>
                    <td><a href="#"> View</a></td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Self-Propertiorship</td>
                    <td>Northern</td>
                    <td><a href="#"> View</a></td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Private</td>
                    <td>Northern</td>
                    <td><a href="#"> View</a></td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Private</td>
                    <td>Northern</td>
                    <td><a href="#"> View</a></td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Private</td>
                    <td>Northern</td>
                    <td><a href="#"> View</a></td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Private</td>
                    <td>Northern</td>
                    <td><a href="#"> View</a></td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                  <tr>
                    <th scope="row">12</th>
                    <td>Imuka Ventures Company LTD</td>
                    <td>Private</td>
                    <td>Northern</td>
                    <td><a href="#"> View</a></td>
                    <td><a href="#">Validate</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
