.filterable {
  margin-top: 15px;
}
.filterable .panel-heading .pull-right {
  margin-top: -20px;
}
.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
  color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
  color: #333;
}

.credit-card-div span {
  padding-top: 10px;
}
.credit-card-div img {
  padding-top: 30px;
}
.credit-card-div .small-font {
  font-size: 9px;
}
.credit-card-div .pad-adjust {
  padding-top: 10px;
}
