<nav class="navbar navbar-expand-md navbar-dark bg-blue">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        src="favicon.ico"
        class="logo img-responsive"
        alt="Cinque Terre"
        alt="Imuka Access"
      />
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="padding: 0px;"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link "
            href="#"
            data-toggle="tooltip"
            title="Look at Available Opportuities"
            >Funding Opportunities
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/admindashboard"
            data-toggle="tooltip"
            title="See Available Deals"
            >Deals
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="login"
            data-toggle="tooltip"
            title="See Available Deals"
            >Contact Us</a
          >
        </li>

        <li class="nav-item">
          <a routerLink="/adddeal" routerLinkActive="acitve" class="nav-link"
            >Blog</a
          >
        </li>
      </ul>
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item">
            <!-- <li class="nav-item" *ngIf="!isLoggedIn"> -->
          <a
            class="nav-link "
            routerLink="/signup"
            class="btn btn-success btn-sm navbar-btn"
            style="margin-right:5px;"
            >Sign Up</a
          >
        </li>
        <li class="nav-item">
            <!-- <li class="nav-item" *ngIf="!isLoggedIn"> -->
          <a
            class="nav-link"
            routerLink="/login"
            class="btn btn-danger btn-sm navbar-btn"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
