.bg-blue {
  background-color: #007edb;
}
.navbar-brand img {
  height: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .active .nav-link {
  color: #fff;
}
.logo{
  width: 50px;
  height: 50px;
}
.btn{
  border-radius: 15px;
}
