.filter {
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  bottom: 0px;
  right: 0px;
  background-color: darkcyan;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}
