<!-- Search Filter Division -->
<div class="filter">
  <div class="bottom-right">
    <div class="container">
      <form class="form-inline">
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" id="sel1" style="width: 100%;">
              <option>All Industry</option>
              <option>Agriculture</option>
              <option>Education</option>
              <option>Poultry</option>
              <option>Medicine</option>
              <option>Catering</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" id="sel1" style="width: 100%;">
              <option value=""> All Location</option>
              <option value="Bundibugyo">Bundibugyo</option>
              <option value="Mubende">Mubende</option>
              <option value="Hoima">Hoima</option>
              <option value="Gulu">Gulu</option>
              <option value="Fort Portal">Fort Portal</option>
              <option value="Kasese">Kasese</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" id="sel1" style="width: 100%;">
              <option selected disabled>All Deal Value / Range</option>
              <option>100,000-500,000</option>
              <option>600,000-1,000,000</option>
              <option>1M - 5M</option>
              <option>6M - 10M</option>
              <option>11M - 50M</option>
              <option>60M - 100M</option>
              <option>Over 100M</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary btn-block">
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div class="search-form">
  <form class="form-inline s-filter">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <select
            class="form-control form-control-lg w-100"
            id="industry"
            aria-placeholder="Select Industry"
          >
            <option>All Industry</option>
            <option>Agriculture</option>
            <option>Education</option>
            <option>Poultry</option>
            <option>Medicine</option>
            <option>Catering</option>
          </select>
        </div>

        <div class="col-md-3">
          <select class="form-control form-control-lg w-100" id="location">
            <option value=""> All Location</option>
            <option value="Bundibugyo">Bundibugyo</option>
            <option value="Mubende">Mubende</option>
            <option value="Hoima">Hoima</option>
            <option value="Gulu">Gulu</option>
            <option value="Fort Portal">Fort Portal</option>
            <option value="Kasese">Kasese</option>
          </select>
        </div>

        <div class="col-md-3">
          <select class="form-control form-control-lg w-100" id="range">
            <option selected disabled>All Deal Value / Range</option>
            <option>100,000-500,000</option>
            <option>600,000-1,000,000</option>
            <option>1M - 5M</option>
            <option>6M - 10M</option>
            <option>11M - 50M</option>
            <option>60M - 100M</option>
            <option>Over 100M</option>
          </select>
        </div>

        <button type="submit" class="btn btn-lg btn-primary mb-2 col">
          Search Deal
        </button>
      </div>
    </div>
  </form>
</div> -->

<!-- </div> -->
