<app-header></app-header>
<div class="login-form">
  <div class="login-details">
    <div class="head">Signup</div>
    <div class="row" style=" padding: 0px;">
      <div class="col-sm-6">
        <form action="/examples/actions/confirmation.php" method="post">
          <div class="form-group">
            <label for="email">Your Full Name:</label>
            <input type="text" class="form-control" id="name" />
          </div>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" />
          </div>

          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">
              Sign up
            </button>
          </div>
        </form>
      </div>
      <div class="col-sm-6">
        <div class="or-seperator"><i>or</i></div>
        <p class="text-center">Sign up with your social media account</p>
        <div class="text-center social-btn">
          <div>
            <a href="#" class="btn btn-primary socialmedia-btn2 btn-block">
              <i class="fa fa-facebook "> Facebook</i>
            </a>
          </div>
          <div>
            <a href="#" class="btn btn-danger socialmedia-btn2 btn-block">
              <i class="fa fa-google  "> Google</i>
            </a>
          </div>
        </div>

        <p class="text-center text-muted small">
          I have an account? <a href="#">Sign in here!</a>
        </p>
      </div>
    </div>
  </div>
</div>
