<!--  Entreprenuer Validation Form-->
<div class="card">
    <div class="card-header">
        <h3 style="text-align: center;">Imuka Agent-Business Validation Form</h3>
    </div>
    <div class="card-body">
        <div id="main_warpper">
            <!-- Bootstrap Container -->
            <div class="container-fluid">
              <!-- First form row -->
              <form>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- The Company Deatils Section -->
                    <legend>Company Details</legend>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="companyName" name="companyName">Company Name:</label>
                        <input
                          type="text"
                          id="companyName"
                          name="comapanyName"
                          class="form-control"
                          placeholder="Enter the Company name Here"
                        />
                        <small class="form-text text-muted"
                          ><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" data-placement="top"
                          title="This is the official name, as with Companies House, and will be
                          used on legal documentation like MOU"></i></small
                        >
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCompanyType" style="display: block;"
                          >Company Type:</label
                        >
                        <select class="form-control">
                          <option selected>Choose...</option>
                          <option value="PUBLIC_COMPANY">Public company</option>
                          <option value="SELF_EMPLOYED">Self-employed</option>
                          <option value="GOVERNMENT_AGENCY">Government agency</option>
                          <option value="NON_PROFIT">Nonprofit</option>
                          <option value="SELF_OWNED">Sole proprietorship</option>
                          <option value="PRIVATELY_HELD">Privately held</option>
                          <option value="PARTNERSHIP">Partnership</option>
                        </select>
                        <small class="form-text text-muted"
                          ><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" data-placement="top"
                          title="Chooose the Company Type"></i></small
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputIndustry">Company Industry:</label>
                        <select class="form-control">
                          <option selected>Choose...</option>
                          <option value="Agriculture/Agribusiness/ Value-addition ">Agriculture/Agribusiness/ Value-addition
                          </option>
                          <option value="Clean Energy/Recycling/Upcycling and Environmental Conservation ">Clean Energy/Recycling/Upcycling and Environmental Conservation
                          </option>
                          <option value="Technology/ ICT and IT-Enabled Services">Technology/ ICT and IT-Enabled Services</option>
                          <option value="Tourism and Hospitality">Tourism and Hospitality</option>
                          <option value="Healthcare and Pharmaceuticals">Healthcare and Pharmaceuticals</option>
                          <option value="Education">Education</option>
                          <option value="Manufacturing">Manufacturing</option>
                          <option value="Trade(Retail and Wholesale)" >Trade(Retail and Wholesale)</option>
                          <option value="Transport and Logistics">Transport and Logistics</option>
                          <option value="Services">Services</option>
                        </select>
                        <small class="form-text text-muted"
                          ><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" data-placement="top"
                          title="Choose the Company Industry"></i></small
                        >
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-8">
                        <label for="inputAddress">Address Location:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="inputAddress"
                          placeholder="Kampala, Makerere"
                        />
                        <small class="form-text text-muted"
                          ><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" data-placement="top"
                          title="This is the Company Address and Location"></i></small
                        >
                      </div>
                      <div class="form-group col-md-4">
                        <label for="phoneNumber">Phone Number:</label>
                        <input
                          id="phoneNumber"
                          name="phoneNumber"
                          class="form-control"
                          placeholder="+256-788-643-402"
                          type="tel"
                        />
                        <small class="form-text text-muted"
                          ><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" data-placement="top"
                          title="Enter the Company Phone Number Here"></i></small
                        >
                      </div>
                    </div>
                    <!-- </form> -->
                  </div>
                  <!-- Raise Money Details Section -->
                  <div class="col-sm-6">
                    <legend>Raise Details</legend>
                    <div class="form-group">
                      <label for="raisedAmount"> Amount to Raise: </label>
                      <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                        <input
                          id="raisedAmount"
                          id="raisedAmount"
                          class="form-control"
                          placeholder="2,000$"
                          type="number"
                        />
                        <small class="form-text text-muted"
                          ><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" data-placement="top"
                          title="Enter the minimum amount of money the business want to
                          raise?"></i></small
                        >
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="endDate" id="endDate">End Date:</label>
                      <input id="endDate" name="endDate" type="date" class="form-control">
                      <small class="form-text text-muted"
                        ><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" data-placement="top"
                        title="Please Select The Date you want the deal to expire (The Max Day is 30 Days) "></i></small
                      >
                    </div>
                    <div class="form-group">
                      <label for="startDate" id="startDate">Date Created:</label>
                      <input id="startDate" name="startDate" type="date" class="form-control">
                      <small class="form-text text-muted"
                        ><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" data-placement="top"
                        title="Please Select The Date you're adding the deal"></i></small
                      >
                    </div>
                  </div>
                </div>
                <hr />
                <!-- Second Form Row -->
                <div class="row">
                  <div class="col-sm-6">
                    <legend>Deal Details</legend>
                    <div class="custom-file">
                      <input
                        type="file"
                        class="custom-file-input"
                        id="validatedCustomFile"
                        required
                      />
                      <label class="custom-file-label" for="validatedCustomFile"
                        >Upload the Cover Photo of the Company</label
                      >
                      <div class="invalid-feedback">
                        Example invalid custom file feedback
                      </div>
                    </div>
                    <small class="form-text text-muted"
                      >300 x 300px recommended. JPGs, JPEGs, and PNGs supported.</small
                    >
                    <div class="mb-3">
                      <label for="validationTextarea" for="companyDesc"
                        >Company Description</label
                      >
                      <textarea
                        class="form-control"
                        id="companyDesc"
                        placeholder="   Enter the Company Details Here"
                        name="companyDesc"
                      ></textarea>
                      <small class="form-text text-muted"
                        ><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" data-placement="top"
                        title="Write A Brief Description of the Company Here"></i></small
                      >
                    </div>
                  </div>
                  <!-- Second colum of the second row -->
                  <div class="col-sm-6">
                    <legend>Company Documents</legend>
                    <div class="form-group">
                      <strong
                        ><label for="docsVerify"
                          >Which of the folowing Documents have you verified Exist from
                          the Business Owner?</label
                        ></strong
                      >
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck1"
                      />
                      <label class="custom-control-label" for="customCheck1"
                        >Business Plan</label
                      >
                    </div>
          
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck2"
                      />
                      <label class="custom-control-label" for="customCheck2"
                        >Memorandum of Understanding</label
                      >
                    </div>
          
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck3"
                      />
                      <label class="custom-control-label" for="customCheck3"
                        >Certificate of Registration</label
                      >
                    </div>
          
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck4"
                      />
                      <label class="custom-control-label" for="customCheck4"
                        >Financial Statement</label
                      >
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck5"
                        />
                        <label class="custom-control-label" for="customCheck5"
                          >Aged Creditors Listing</label
                        >
                      </div>

                      <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="customCheck6"
                          />
                          <label class="custom-control-label" for="customCheck6"
                            >Cash flow Statement or Projects</label
                          >
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="customCheck7"
                            />
                            <label class="custom-control-label" for="customCheck7"
                              >Contract Document</label
                            >
                          </div>

                          <div class="custom-control custom-checkbox">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                id="customCheck9"
                              />
                              <label class="custom-control-label" for="customCheck9"
                                >Project document</label
                              >
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input
                                  type="checkbox"
                                  class="custom-control-input"
                                  id="customCheck10"
                                />
                                <label class="custom-control-label" for="customCheck10"
                                  >Certified or Audited Accounts</label
                                >
                              </div>
                    <small class="form-text text-muted"
                      ><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" data-placement="top"
                      title="Choose all the Documents you have verified from the Business Owner"></i></small
                    >
                  </div>
                </div>
                <!-- Buttons -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                      <button type="button" class="btn btn-secondary" >Validate Deal</button>
                  </div>
                  <div class="form-group col-md-4">
                      <button type="reset" class="btn btn-secondary" btn-lg>Cancel</button>
                  </div>
                  <div class="form-group col-md-2">
                      <button type="button" class="btn btn-secondary" btn-lg>Save</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
