.boxe {
  display: flex;
}

.boxes {
  flex: 1;
}
.card-header {
  background-color: #007edb;
  font-size: 20px;
  font-weight: bold;
  padding: auto;
  color: white;
}
.lagend {
  font-size: 17px;
  font-weight: bold;
  color: rgb(1, 1, 20);
}
label {
  font-size: 15px;

  color: black;
}
