<!--  Entreprenuer Validation Form-->
<div class="card">
  <div class="card-header" style="background-color: #007edb;">
    Create a new Deal
  </div>
  <div class="card-body">
    <div id="main_warpper">
      <!-- Bootstrap Container -->
      <div class="container-fluid">
        <!-- First form row -->
        <form>
          <div class="row">
            <div class="col-sm-6">
              <!-- The Company Deatils Section -->

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="companyName" name="companyName"
                    >Company Name:</label
                  >
                  <input
                    type="text"
                    [(ngModel)]="dealDetails.companyName"
                    id="companyName"
                    name="comapanyName"
                    class="form-control"
                    placeholder=""
                  />
                  <small class="form-text text-muted"
                    ><i
                      class="fa fa-info-circle fa-lg"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="This is the official name, as with Companies House, and will be
                          used on legal documentation like MOU"
                    ></i
                  ></small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCompanyType" style="display: block;"
                    >Company Type:</label
                  >
                  <select
                    class="form-control"
                    [(ngModel)]="dealDetails.companyType"
                    name="companyType"
                  >
                    <option selected>Choose...</option>
                    <option value="PUBLIC_COMPANY">Public company</option>
                    <option value="SELF_EMPLOYED">Self-employed</option>
                    <option value="GOVERNMENT_AGENCY">Government agency</option>
                    <option value="NON_PROFIT">Nonprofit</option>
                    <option value="SELF_OWNED">Sole proprietorship</option>
                    <option value="PRIVATELY_HELD">Privately held</option>
                    <option value="PARTNERSHIP">Partnership</option>
                  </select>
                  <small class="form-text text-muted"
                    ><i
                      class="fa fa-info-circle fa-lg"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Chooose the Company Type"
                    ></i
                  ></small>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputIndustry">Company Industry:</label>
                  <select
                    class="form-control"
                    [(ngModel)]="dealDetails.companyIndustry"
                    name="companyIndustry"
                  >
                    <option selected>Choose...</option>
                    <option value="Agriculture/Agribusiness/ Value-addition "
                      >Agriculture/Agribusiness/ Value-addition
                    </option>
                    <option
                      value="Clean Energy/Recycling/Upcycling and Environmental Conservation "
                      >Clean Energy/Recycling/Upcycling and Environmental
                      Conservation
                    </option>
                    <option value="Technology/ ICT and IT-Enabled Services"
                      >Technology/ ICT and IT-Enabled Services</option
                    >
                    <option value="Tourism and Hospitality"
                      >Tourism and Hospitality</option
                    >
                    <option value="Healthcare and Pharmaceuticals"
                      >Healthcare and Pharmaceuticals</option
                    >
                    <option value="Education">Education</option>
                    <option value="Manufacturing">Manufacturing</option>
                    <option value="Trade(Retail and Wholesale)"
                      >Trade(Retail and Wholesale)</option
                    >
                    <option value="Transport and Logistics"
                      >Transport and Logistics</option
                    >
                    <option value="Services">Services</option>
                  </select>
                  <small class="form-text text-muted"
                    ><i
                      class="fa fa-info-circle fa-lg"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Choose the Company Industry"
                    ></i
                  ></small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="inputAddress">Address Location:</label>
                  <input
                    type="text"
                    [(ngModel)]="dealDetails.companyAddress"
                    class="form-control"
                    name="companyAddress"
                    id="inputAddress"
                    placeholder=""
                  />
                  <small class="form-text text-muted"
                    ><i
                      class="fa fa-info-circle fa-lg"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="This is the Company Address and Location"
                    ></i
                  ></small>
                </div>
                <div class="form-group col-md-4">
                  <label for="phoneNumber">Phone Number:</label>
                  <input
                    [(ngModel)]="dealDetails.companyTel"
                    name="companyTel"
                    class="form-control"
                    placeholder=""
                    type="tel"
                  />
                  <small class="form-text text-muted"
                    ><i
                      class="fa fa-info-circle fa-lg"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="+256 78543213"
                    ></i
                  ></small>
                </div>
              </div>
              <!-- </form> -->
            </div>
            <!-- Raise Money Details Section -->
            <div class="col-sm-6">
              <div class="form-group ">
                <label for="phoneNumber">Email:</label>
                <input
                  [(ngModel)]="dealDetails.companyEmail"
                  name="companyEmail"
                  class="form-control"
                  placeholder=""
                  type="email"
                />
                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="+256 78543213"
                  ></i
                ></small>
              </div>
              <div class="form-group ">
                <label for="phoneNumber">Amount to Raise: </label>
                <input
                  [(ngModel)]="dealDetails.raisedAmount"
                  name="raisedAmount"
                  class="form-control"
                  placeholder=""
                />
                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Enter the minimum amount of money the business want to
                          raise?"
                  ></i
                ></small>
              </div>

              <div class="form-group">
                <label for="startDate" id="startDate">Date Created:</label>
                <input
                  id="startDate"
                  type="date"
                  class="form-control"
                  [(ngModel)]="dealDetails.createdDate"
                  name="createdDate"
                />
                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Please Select The Date you're adding the deal"
                  ></i
                ></small>
              </div>
            </div>
          </div>
          <hr />
          <!-- Second Form Row -->
          <div class="row">
            <div class="col-sm-6">
              <legend class="lagend">Deal Details</legend>
              <div>
                <input
                  type="file"
                  name="image"
                  (change)="fileProgress($event)"
                />
                <div *ngIf="fileUploadProgress">
                  Upload progress: {{ fileUploadProgress }}
                </div>
                <div class="image-preview mb-3" *ngIf="previewUrl">
                  <img [src]="previewUrl" height="300" />
                </div>

                <div class="mb-3" *ngIf="uploadedFilePath">
                  {{ uploadedFilePath }}
                </div>
              </div>
              <small class="form-text text-muted"
                >300 x 300px recommended. JPGs, JPEGs, and PNGs
                supported.</small
              >

              <div class="mb-3">
                <label for="validationTextarea" for="companyDesc"
                  >Deal Detailed Description</label
                >
                <textarea
                  class="form-control"
                  [(ngModel)]="dealDetails.DealDetailedDesc"
                  id="DealDetailedDesc"
                  placeholder=" "
                  name="companyDesc"
                ></textarea>
                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Enter detailed Description of the deal Here"
                  ></i
                ></small>
              </div>
            </div>
            <!-- Second colum of the second row -->
            <div class="col-sm-6">
              <legend class="lagend">Company Documents</legend>
              <div class="form-group">
                <strong
                  ><label for="docsVerify"
                    >Which of the folowing Documents have you verified Exist
                    from the Business Owner?</label
                  ></strong
                >
              </div>
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck1"
                />
                <label class="custom-control-label" for="customCheck1"
                  >Business Plan</label
                >
              </div>

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck2"
                />
                <label class="custom-control-label" for="customCheck2"
                  >Memorandum of Understanding</label
                >
              </div>

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck3"
                />
                <label class="custom-control-label" for="customCheck3"
                  >Certificate of Registration</label
                >
              </div>

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck4"
                />
                <label class="custom-control-label" for="customCheck4"
                  >Financial Statement</label
                >
              </div>

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck6"
                />
                <label class="custom-control-label" for="customCheck6"
                  >Cash flow Statement or Projects</label
                >
              </div>

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck7"
                />
                <label class="custom-control-label" for="customCheck7"
                  >Contract Document</label
                >
              </div>
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck10"
                />
                <label class="custom-control-label" for="customCheck10"
                  >Certified or Audited Accounts</label
                >
              </div>
              <small class="form-text text-muted"
                ><i
                  class="fa fa-info-circle fa-lg"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Choose all the Documents you have verified from the Business Owner"
                ></i
              ></small>
            </div>
          </div>
          <!-- Buttons -->
          <div class="form-row">
            <div style=" margin: auto;">
              <button
                type="reset"
                class="btn btn-secondary btn "
                style="margin: 2px;"
              >
                Cancel
              </button>

              <button
                type="button"
                class="btn btn-primary btn"
                (click)="addDeal()"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
