<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow">
      <!-- Item -->
      <div class="col-xl-4 col-sm-6">
        <div class="card">
          <div class="card-header bg-primary">
            <h4 class="card-title text-dark m-0">12567 Total Deals</h4>
          </div>
          <div class="card-body">
            <a href="#"><span class="float-left">View Details</span></a>
            <span class="float-right"><i class="fas fa-angel-right"></i></span>
          </div>
        </div>
      </div>
      <!--item-->
      <div class="col-xl-4 col-sm-6">
        <div class="card">
          <div class="card-header bg-success">
            <h4 class="card-title text-dark m-0">200 New Bids and Offer</h4>
          </div>
          <div class="card-body">
            <a href="#"><span class="float-left">View Details</span></a>
            <span class="float-right"
              ><i class="fas fa-angel-double-right"></i
            ></span>
            <!-- <li class="fa fa-id-card-o" style="color:black" aria-hidden="true"> -->
          </div>
        </div>
      </div>
      <!-- item -->
      <div class="col-xl-4 col-sm-6">
        <div class="card">
          <div class="card-header bg-warning">
            <h4 class="card-title text-dark m-0">100 New Deals Added</h4>
          </div>
          <div class="card-body">
            <a href="#"><span class="float-left">View Details</span></a>
            <span class="float-right"
              ><i class="fas fa-angel-double-right"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
