

  <app-search-filter></app-search-filter>



<div class="main_container">
  <h2 class="text-center">Funding Opportunities</h2>
  <div class="card-deck">
    <!--Soya Static  Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/assets/soya.jpg" alt="Card image cap" />
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">500M UGX , 5% Equity...</h4>
        <!--Text-->
        <p class="card-text">
          Agroprocesing company that specializes in Nutritious Flours, Peanut
          paste. Registered as a limited Liability company in 2014. The business
          started as a food processing unit to to reduce the magnitude of
          malnutrition in rural areas and fight poverty amongst the peasant
          farmers while create employment in the Northern and Easterns region of
          Uganda.
        </p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

        <a routerLink="/login" class="btn btn-info">Read more</a>

        <div>
          <a
            class="nav-link"
            href="#"
            data-toggle="tooltip"
            title="Remaining Days"
            >Days Left <span class="badge badge-pill badge-danger">90</span></a
          >
        </div>
      </div>
    </div>
    <!--Peanut Static  Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <img
          class="card-img-top"
          src="/assets/sugar.png"
          alt="Card image cap"
        />
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">50M UGX , 5% Equity..</h4>

        <!--Text-->
        <p class="card-text">
          Nature’s Haven is a brand of LHEXCOPT Investments Limited dealing in
          Agricultural Value Addition. It aims to be the Preferred Choice for
          High quality organic Natural Products.
        </p>
        The current products include:
        <ul>
          <li>Various blends of packed sugar cane juice</li>
        </ul>

        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a routerLink="/login" class="btn btn-info">Read more</a>

        <div>
          <a
            class="nav-link"
            href="#"
            data-toggle="tooltip"
            title="Remaining Days"
            >Days Left <span class="badge badge-pill badge-danger">30</span></a
          >
        </div>
      </div>
    </div>

    <!--Soya Static  Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/assets/soya.jpg" alt="Card image cap" />
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">500M UGX , 5% Equity...</h4>
        <!--Text-->
        <p class="card-text">
          Agroprocesing company that specializes in Nutritious Flours, Peanut
          paste. Registered as a limited Liability company in 2014. The business
          started as a food processing unit to to reduce the magnitude of
          malnutrition in rural areas and fight poverty amongst the peasant
          farmers while create employment in the Northern and Easterns region of
          Uganda.
        </p>

        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a routerLink="/login" class="btn btn-info">Read more</a>
        <div>
          <a
            class="nav-link"
            href="#"
            data-toggle="tooltip"
            title="Remaining Days"
            >Days Left <span class="badge badge-pill badge-danger">90</span></a
          >
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center">Trending deals</h2>
  <!-- Card deck -->
  <div class="card-deck">
    <!-- Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/assets/soya.jpg" alt="Card image cap" />
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a routerLink="/login" class="btn btn-info">Read more</a>
      </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/assets/img2.jpg" alt="Card image cap" />
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a routerLink="/login" class="btn btn-info">Read more</a>
      </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/assets/4.jpg" alt="Card image cap" />
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->

        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a routerLink="/login" class="btn btn-info">Read more</a>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- Card deck -->
</div>
