<app-search-filter></app-search-filter>
<!-- <div class="main_container">
  <h2 class="text-center">Trending deals</h2>
  <div class="card-deck">

    <div class="card mb-4" *ngFor="let deal of Deal">
    
      <div class="view overlay">
        <img
          class="card-img-top"
          src="/{{ deal.image_url }}"
          alt="Card image cap"
        />
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <div class="card-body">
        <p class="card-text">
          {{ deal.Brief_description }}
        </p>

        <a routerLink="/login" class="btn btn-info">Read more</a>

        <div>
          <div class="row no-gutters mt-auto mb-2 justify-content-center">
            <div class="col-6 text-center">
              <i class="fa fa-info-circle"></i>Details
            </div>
            <div class="col-6 text-center"><i class="fa fa-edit"></i>Edit</div>
          </div>
          <a
            class="nav-link"
            href="#"
            data-toggle="tooltip"
            title="Remaining Days"
            >Days Left <span class="badge badge-pill badge-danger">90</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->

<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let deal of Deal">
        <div class="blog-box">
          <img src="/{{ deal.image_url }}" alt="blog1" />
          <h3>{{ deal.companyName }}</h3>
          <p>
            by <span>{{ deal.BriefDealDesc }}</span> on
            <span>{{ deal.companyIndustry }}</span>
          </p>
          <p>{{ deal.createdDate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
