<!-- partner section -->
<section class="light">
  <div class="container">
    <h1 class="text-center">Our Partners</h1>
    <div class="row text-center partners">
      <div class="col-md-2">
        <div>
          <img
            src="assets/partners/ftbic.jpg"
            alt=""
            style="object-fit: contain;"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <img
            src="assets/partners/grow1.jpg"
            alt=""
            style="object-fit: contain;"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <img
            src="assets/partners/imuka_logo.png"
            alt=""
            style="object-fit: contain;"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <img
            src="assets/partners/kcca_esb.jpg"
            alt=""
            style="object-fit: contain;"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <img
            src="assets/partners/renewable.png"
            alt=""
            style="object-fit: contain;"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <img
            src="assets/partners/ewb.jpg"
            alt=""
            style="object-fit: contain;"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of partner section -->

<!-- social media links and newsletter -->
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="m-2 fa fa-facebook-square fa-2x"></i>
        <i class="m-2 fa fa-twitter-square fa-2x"></i>
        <i class="m-2 fa fa-youtube-square fa-2x"></i>
        <i class="m-2 fa fa-linkedin-square fa-2x"></i>
      </div>

      <div class="col-md-8">
        <div class="input-group mb-4">
          <h4 class="ml-3 pr-2">Newsletter:</h4>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Your Email Here"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-primary"
              type="button"
              id="button-addon2"
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of the social media links and newsletter -->

<!-- Footer links -->
<div class="bg-footer py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Connect With Us</h4>
        <p>Food Technology Incubatrion Center</p>
        <p>Makerere University,Uganda</p>
        <p></p>
        <p>+256-770-704-185</p>
        <p>access@imuka.co</p>
      </div>
      <div class="col-md-4">
        <h4>Useful Links</h4>
        <p><a href="#" class="text-dark">Terms & Condition</a></p>
        <p><a href="#" class="text-dark">About Us</a></p>
        <p><a href="#" class="text-dark">Testimonies</a></p>
        <p><a href="#" class="text-dark">Investors</a></p>
      </div>
      <div class="col-md-4">
        <h4>We are Open</h4>
        <p>Monday- Friday 08:00AM- 05:00PM</p>
        <p>Saturday 08:00AM- 02:00PM</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <p class="text-center pt-2">&copy; Copyright 2019 Imuka Access</p>
      </div>
    </div>
  </div>
</div>
<!-- end of footer links -->
